<form>
  <div class="titulo">Añade una nueva tarea</div>
  <div class="form-row">
    <div class=" titulo col-10">
      <input [(ngModel)] = "titulo" type="text" name="titulo" class="form-control" placeholder="Título" >
    </div>
  </div>
    <div class="form-row">
      <div class="texto col-10">
       <textarea [(ngModel)] = "descripcion" name="descripcion" class="form-control" id="descripcion" maxlength="100" placeholder="Descripción (100 caracteres max)" rows="4" ></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="boton col-10">
        <button (click) = "handleClick()" type="submit" class=" btn btn-secondary">Añadir</button>
      </div>
    </div>
  
</form>

