.titulo, .texto, .btn{ 
    width:100%;
    margin:10px auto;
}

.texto{
    height: 100px!important;
}
.btn{
    margin-left: 10%;
    height: 60px;
}

textarea{
    resize: none;
    width: 100%;
    border: 
}


.titulo{
    font-size: 200%;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 2;
}